.bundle
db/*.sqlite3
log/*.log
tmp
db/schema.rb
public/system
*.DS_Store
coverage/*
*.swp
*.swo
rerun.txt
tags
!.keep
vendor/bundler_gems
.rvmrc
public/stylesheets/round.css
public/stylesheets/non_round.css
public/stylesheets/screen.css
