$radius: 10px;

@mixin round-top-left{
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
}

@mixin round-top-right{
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin round-bottom-left{
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
}

@mixin round-bottom-right{
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin round-top {
  @include round-top-left; 
  @include round-top-right; 
}

@mixin round-bottom {
  @include round-bottom-left; 
  @include round-bottom-right;   
}

@mixin round {
 @include round-top-left; 
 @include round-top-right; 
 @include round-bottom-left; 
 @include round-bottom-right; 
}
