@charset "UTF-8";
@import "round";

/* CSS Document */
/*CSS Reset*/

/* ie.css

Contains every hack for Internet Explorer versions prior 
to IE7, so that our core files stay sweet and nimble.

-------------------------------------------------------------- */

/* Make sure the layout is centered in IE5 */

body {
  text-align: center; }

.container {
  text-align: left; }

/* This fixes the problem where IE6 adds an extra 3px margin to
two columns that are floated up against each other. */

* html .column {
  overflow-x: hidden; }

/* IE6 fix */

.pull-1, .pull-2, .pull-3, .pull-4, .push-1, .push-2, .push-3, .push-4, ul, ol {
  position: relative;
  /* Keeps IE6 from cutting pulled/pushed images */ }

/* Fixes incorrect styling of legend in IE6 fieldsets. */

legend {
  margin-bottom: 1.4em; }

/* Fixes incorrect placement of numbers in ol's in IE6/7 */

ol {
  margin-left: 2em; }

ul {
  list-style-type: none; }

/* begin template CSS */

/*************Global Styles*******************/

.clear {
  clear: both; }

a {
  color: #662D91;
  text-decoration: none; }

h1 {
  color: #662d91;
  font-size: 24px;
  text-align: left;
  margin: 10px 0 10px 0; }

h2 {
  color: #3DA9DF;
  font-size: 18px;
  text-align: left;
  margin: 10px 0 10px 0; }

h3 {
  color: #000000;
  font-size: 14px;
  text-align: left;
  margin: 0 0 5px 0; }

h4 {
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin: 0 0 5px 0; }

p {
  text-align: left;
  margin: 0 0 5px 0; }

body {
  font-family: arial, verdana, sans-serif;
  margin: 0px auto;
  padding: 0px;
  color: #000000;
  text-align: center;
  font-size: 11px;
  line-height: 120%;
  background-color: #CCEFFE; }

#wrapper {
  margin: 0px auto;
  width: 820px;
  padding: 0 0 0 0;
  height: 700px; }

#relief_logo {
  float: left;
  height: 68px;
  width: 68px;
  margin: 10px 0 0 10px; }

#social_logos {
  float: right;
  height: 30px;
  width: 100px; }

#navigation {
  margin: 10px 0 0 0;
  li {
    float: right;
    padding: 5px 10px 5px 5px;
    margin: 0 0 0 10px;
    background-image: url(/images/navigation_bg.gif);
    background-repeat: no-repeat;
    a {
      color: #3DA9DF;
      text-decoration: none;
      font-weight: bold; }
    .active {
      color: #ffffff;
      background-image: url(/images/active_link.gif);
      background-repeat: no-repeat; } } }

/****************footer************************/

#footer {
  height: 40px;
  width: 700px;
  margin: 10px 0px 10px 10px;
  color: #3DA9DF;
  p {
    font-size: 10px;
    margin: 0 0 0 300px; }
  li {
    float: right;
    padding: 5px 10px 5px 5px;
    margin: 0 0 0 10px;
    a {
      color: #3DA9DF;
      text-decoration: none;
      font-weight: bold; } } }

/**************Index Page*********************/

#body_wrap {
  margin: 20px 0 0 0; }

#process {
  float: left;
  width: 100px;
  height: 340px;
  background-image: url(/images/process.gif);
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 10px 5px 10px 60px;
  margin: 0 18px 0 0; }

.featured_wrap {
  width: 585px;
  height: 340px;
  float: left;
  margin: 0 0 0 10px; 

	.featured_thumbnail {
	  width: 288px;
	  height: 255px;
	  float: left; 
	}

  .featured_project_info {
    float: left;
    width: 280px;
    height: 255px;
    padding: 0px 8px;
    margin: 0 0 10px 0;
    background-color: #ffffff; }
    h3 {
      color: #3DA9DF;
      padding: 0px 0px 0px 110px;
      margin: 0px;
      text-align: left;
    }

    h4 {
      margin: 0px;
      text-align: left;
    }

    h5 {
      margin: 0px;
      text-align: left;
    }

    input {
      width: 200px;
    }

}


.amount_index {
  margin: 0 0 10px 0;
  text-align: left;
  input[type="text"] {
    width: 200px;
  }
}

#thumbnails {
  width: 585px;
  height: 80px;
  outline: 1px solid green;
  margin: 5px 0 0 0; }

#learn_more {
  width: 230px;
  float: left;
  min-height: 396px;
  max-height: 396px;
  border-right: 3px solid #662d91;
  margin: 20px 0 0 0;
  padding: 0 20px 0 0; }

#relief_blog {
  overflow: hidden;
  width: 230px;
  float: left;
  min-height: 330px;
  max-height: 396px;
  border-right: 3px solid #662d91;
  margin: 20px 0 0 30px;
  padding: 0 20px 0 0; }

.blog_date {
  font-size: 16px;
  color: #662d91;
  height: 30px;
  width: 50px;
  float: left;
  text-align: left; }

.post_index {
  float: right;
  height: 100px;
  width: 175px; }

#recent_press {
  overflow: hidden;
  width: 230px;
  float: left;
  min-height: 330px;
  max-height: 396px;
  margin: 20px 0 0 30px;
  padding: 0 0 0 0; }

.press_logo {
  height: 30px;
  width: 50px;
  float: left;
  background-image: url(/images/npr_logo.gif);
  background-repeat: no-repeat; }
  
.unicef {
  height: 30px;
  width: 50px;
  float: left;
  background-image: url(/images/unicef.jpg);
  background-repeat: no-repeat; }

.usnews {
  height: 30px;
  width: 50px;
  float: left;
  background-image: url(/images/usnews.jpg);
  background-repeat: no-repeat; }
  
.coldis {
  height: 30px;
  width: 50px;
  float: left;
  background-image: url(/images/columbusdispatch.jpg);
  background-repeat: no-repeat; }

.cnn {
  height: 30px;
  width: 50px;
  float: left;
  background-image: url(/images/cnn.jpg);
  background-repeat: no-repeat; }

.press_copy {
  float: left;
  height: 100px;
  width: 175px; }

#bottom_white_module {
  height: 80px;
  width: 800px;
  background-color: #ffffff;
  margin: 20px 0 0 0; }

#approved_by {
  height: 40px;
  width: 250px;
  margin: 20px 0 0 10px;
  float: left; }

#approve_head, #featured_head, #partner_head {
  margin: 0 0 5px 0; }

#accredited_logo, #charity_logo, .featured_logo, #partner_logo {
  float: left;
  height: 30px;
  width: 70px; }

#featured_by, #partners {
  height: 40px;
  width: 250px;
  margin: 20px 0 0 10px;
  float: left; }

#contribute_btn {
  width: 144px;
  height: 44px; }

/********************Projects***********************/

#projects {
  font-size: 20px;
  height: 20px;
  color: #662d91;
  width: 100px;
  float: left; }

#fliter_by {
  width: 300px;
  height: 20px;
  a {
    color: #3DA9DF; } }

#give_project {
  float: right;
  height: 30px;
  width: 145px;
  margin: 10px 0 5px 0; }

#all_project_wrap {
  width: 820px;
  min-height: 820px;
  background-color: #ffffff; }

#project_left_col {
  width: 400px;
  height: 600px;
  float: left; }

#project_right_col {
  width: 400px;
  height: 600px;
  float: right; }

.project_img {
  height: 146px;
  width: 146px;
  background-image: url(/images/project_image.jpg);
  background-repeat: no-repeat;
  float: left;
  margin: 10px 10px 10px 10px;
  outline: 1px solid #000000; }

.project_details {
  height: 130px;
  width: 210px;
  float: left;
  p {
    margin: 0 0 0 0; } }

.percent_raised {
  width: 180px;
  height: 15px;
  outline: 1px solid black;
  float: right;
  margin: 10px 50px  5px 0; }

.amount {
  width: 170px;
  height: 30px;
  text-align: left;
  margin: 10px 0 0 10px;
  font-size: 10px; }

.fund_this {
  height: 25px;
  width: 92px;
  float: right;
  margin: 10px 50px 0 0; }

#projects_per_page {
  height: 25px;
  width: 600px;
  margin: 20px 0 0 200px; }

#projects_text {
  float: left;
  height: 25px;
  width: 100px;
  margin: 0 10px 0 0; }

#number_on_page {
  float: left;
  height: 25px;
  width: 50px; }

.pagination {
  margin: 0;
  width: 180px;
  height: 20px;
  float: left;
  ul {
    clear: both;
    position: relative;
    display: inline;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 5px;
      margin: 0; } }
  a {
    color: #3DA9DF; }
  li.active {
    font-weight: bold;
    color: #000000; } }

/*************************Project Details*************************/

#col_left {
  float: left;
  width: 170px;
  height: 340px; }

#project_photo {
  height: 146px;
  width: 146px;
  background-image: url(/images/project_image.jpg);
  background-repeat: no-repeat;
  float: left;
  margin: 10px 10px 10px 10px;
  outline: 1px solid #000000; }

#project_map {
  height: 146px;
  width: 146px;
  background-image: url(/images/map.jpg);
  background-repeat: no-repeat;
  float: left;
  margin: 10px 10px 10px 10px;
  outline: 1px solid #000000; }

#project_percent_raised {
  width: 180px;
  height: 15px;
  outline: 1px solid black;
  float: left;
  margin: 10px 50px  5px 0; }

#project_information {
  width: 390px;
  height: 300px;
  background-color: #FFFFFF;
  float: left;
  padding: 10px;
  margin: 5px 0 0 10px; }

#percent_raised_number {
  width: 200px;
  height: 30px;
  float: left;
  text-align: left;
  font-size: 16px;
  color: #662d91;
  margin: 10px 0 0 0; }

#more_projects {
  float: right;
  width: 200px;
  height: 320px;
  margin: 5px 0 0 0;
  p {
    color: #662d91;
    text-align: center; } }

#more_projects_photos {
  width: 150px;
  height: 50px;
  margin: 0 0 15px 20px; }

#project_photo1, #project_photo2, #project_photo3 {
  width: 49px;
  height: 43px;
  float: left; }

#social_logos_large {
  height: 40px;
  width: 150px;
  margin: 0 0 10px 20px; }

.testimonials {
  font-style: italic;
  color: #000000;
  margin: 0 0 15px 0;
  text-align: left; }

.testimonial_name {
  font-size: 14px; }

.test_location {
  font-size: 10px; }

#form_left {
  width: 530px;
  border-right: 1px solid #662d91;
  height: 420px;
  float: left; }

#donor_head {
  text-align: left;
  font-size: 20px;
  margin: 0 0 15px 0;
  padding: 10px 0 0 20px;
  color: #3DA9DF; }

#donor_info {
  width: 800px;
  height: 430px;
  background-color: #ffffff; }

.row {
  padding: 10px 0;
  textarea {
    border: 1px solid #888;
    padding: 3px;
    background: white;
    width: 400px; }
  select {
    width: 240px; }
  label {
    width: 90px;
    float: left;
    font-size: 13px;
    color: #333;
    text-align: right; } }

.required {
  font-weight: bold; }

.intromessageRequired {
  padding: 10px 0; }

.row span {
  display: none;
  &.error {
    display: block;
    clear: both;
    padding: 2px 0 0 0;
    color: red; } }

.field_holder {
  padding-left: 15px;
  float: left;
  width: 250px;
  input {
    width: 250px; } }

#form_right {
  width: 200px;
  height: 320px;
  float: right;
  margin: 80px 0 0 0; }

#amount_project_detail {
  margin: 0 0 10px 0;
  text-align: left; }

#pay_type {
  width: 100px;
  height: 115px;
  background-image: url(/images/pay_type.gif);
  background-repeat: no-repeat; }

#submit_signup {
  height: 25px;
  width: 92px;
  margin: 10px 50px 0 0; }

/*************************Community*************************/
#community_bottom {
  margin: 40px 0 0 0;}

#community_left {
  width: 333px;
  height: 250px;
  float: left; }

#community_right {
  width: 425px;
  height: 250px;
  float: right;
  text-align: left;
  background-color: #ffffff;
  padding: 10px 26px 10px 26px }

#dev_center {
  width: 330px;
  float: left;
  text-align: left;
  height: 240px;
  border-right: 3px solid #662d91;
  margin: 0px 40px 0 10px;
  padding: 0px 40px 0 0; }

#financial_center {
  width: 330px;
  height: 240px;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0; }
/***************************About Us*****************************/


#about_left {
  width: 400px;
  height: 390px;
  float: left; }

#our_mission {
  width: 390px;
  height: 80px;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

#about_us {
  width: 390px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.vol_photo {
  background-image: url(/images/vol_photo.jpg);
  background-repeat: no-repeat;
  height: 90px;
  width: 97px;
  float: left;
  margin: 10px 10px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.vol_photo2 {
  background-image: url(/images/vol_photo2.jpg);
  background-repeat: no-repeat;
  height: 90px;
  width: 74px;
  float: left;
  margin: 10px 10px 0 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

#about_right {
  width: 380px;
  height: 390px;
  float: right;
  text-align: left;
  background-color: #ffffff;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.bold {
  font-weight: bold; }

#faq {
  width: 230px;
  float: left;
  text-align: left;
  min-height: 150px;
  max-height: 537px;
  border-right: 3px solid #662d91;
  margin: 20px 0 0 30px;
  padding: 0 20px 0 0; }

#contact_us {
  width: 230px;
  float: left;
  text-align: left;
  min-height: 537px;
  max-height: 537px;
  border-right: 3px solid #662d91;
  margin: 20px 0 0 0;
  padding: 0 20px 0 0;
  fieldset {
    width: 200px;
    margin-top: 10px;
    #email_from, #email_body {
      border: 1px solid #e3e3e3;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      width: 180px;
    }
  }
}

#submit_contact {
  height: 25px;
  width: 65px;
  margin: 10px 0 0 0; }

.vcard {
  .street-address {
    display: block;
  }
}


.projects {
  @include round;
  background: white;
  width: 800px;
  &.content {
    padding: 10px;
    clear: both;
  }
  
  li  {
    width: 320px;
    float: left;
    margin: 40px;
  
    img {
      margin-right: 5px;
      margin-bottom: 0px;
    }

    .summary {
      width: 125px;
      float: left;
    }

    h3 {
      color: #3DA9DF;
     padding: 0px 0px 0px 110px;
      margin: 0px;
      text-align: left;
    }

    h4 {
      padding: 10px 0px 0px 110px;
      margin: 0px;
      text-align: left;
    }

    h5 {
      padding: 0px 0px 0px 110px;
      margin: 0px;
      text-align: left;    
    }

    p {
      padding: 5px 0px 0px 110px;
    }

    .raised {
      color: #662d91;
    }

  }

}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}


/*-- jShowOff module styles --*/

.thumbFeatures {

  }

#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
  width: 585px;
	height: 360px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	}
.jshowoff {
	width: 585px;
	margin: 0px 0;
	}
.jshowoff div {	
	width: 585px;
	}
.jshowoff div, .jshowoff img, .jshowoff {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff div p, .jshowoff div h2 {
	_background-color: #efefef;
	}
.jshowoff h2, .jshowoff p {
	font-size: 18px;
	padding: 15px 20px 0px;
	margin: 0;
	}
.jshowoff p {
	font-size: 13px;
	line-height: 15px;
	}
.eddie {
	float: right;
	padding: 15px 20px 15px 20px;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
	background-color: #000;
	color: #fff;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #fff;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #000;
	}
p.jshowoff-controls {
	background: #aaa;
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}


/*-- Re-styled Thumbnail Demo --*/

.thumbFeatures p.jshowoff-slidelinks {
	background: #FFFFFF;
	bottom: 0;
	padding: 5px 0 5px 5px;
	top: 260px;
	right: 15px;
	width: 535px;
	height: 90px;
	}
.thumbFeatures .jshowoff-slidelinks a {
	display: block;
	width: 100px;
	height: 80px;
	background-color: none;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	padding: 0;
	border: 1px solid #4f4f4f;
	text-indent: -10000em;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	}
.thumbFeatures .jshowoff-slidelinks a.jshowoff-active {
	border: 1px solid #fff;
	}

.thumbFeatures p.jshowoff-controls {
	background: none;
	height: 38px;
	overflow: visible;
	padding: 0;
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 150;
	}
.thumbFeatures .jshowoff-controls a {
	display: block;
	width: 22px;
	height: 38px;
	background: none;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-indent: -10000em;
	position: absolute;
	}

.thumbFeatures .jshowoff-controls a.jshowoff-play {
	display: none;
	}
.jshowoff.thumbFeatures {
    float: left;
	height: 310px;
	}
.jshowoff.thumbFeatures div, .jshowoff.thumbFeatures img, .jshowoff.thumbFeatures {
	-webkit-border-radius: 6px;
	}

#menu {
  padding: 0;
}

#right-menu {
  display: inline;
  width: 282px;
  li {
    @include round-top;
    float: left;
    padding: 8px 10px 3px 10px;
    margin: 0px 5px;
    background-color: #ede7fa; 
    a {
      text-decoration: none;
    }
    &:hover {
     text-decoration: underline;
    }
    &.selected {
      background-color: white; 
    }
  }
}

.create-button {
  @include round;
  $button-background: #874b98;
  padding: 10px 15px;
  font-weight: normal;
  background: $button-background;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background: lighten($button-background, 10%);
  }

}


tr {
  $table-background: #30aada;
  border: 0px;
  margin: 10px 0px;
  &.header {
    background: $table-background;
    th {
      color: white;
      padding: 3px 5px;
      border: 0px;
    }
  }
  &.odd {
    background: lighten($table-background, 40%);
  }

}

td {
  margin: 5px 0px;
  padding: 5px;
  text-align: left;
  border: 0px;
  border-bottom: 10px;
  &.edit {
    a {
      color: #00b3f5;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
