.clear

#bottom_white_module
  #approved_by
    #approve_head
      Approved by
    #accredited_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    #charity_logo
      %a{ :href => "#" }
        %img{ :src => "/images/charity_logo.gif", :alt => "charity_logo" }
  #featured_by
    #featured_head
      Featured by
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
    .featured_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }
  #partners
    #partner_head
      Partners
    #partner_logo
      %a{ :href => "#" }
        %img{ :src => "/images/accredited_logo.gif", :alt => "accredited_logo" }

#footer
  %ul
    %li
      %a{ :href => "#" }
        Site Map
    %li
      %a{ :href => "#" }
        Contact
    %li
      %a{ :href => "#" }
        FAQ
    %li
      %a{ :href => "#" }
        My account
    %li
      %a{ :href => "#" }
        Blog
    %li
      %a{ :href => "#" }
        Community
    %li
      %a{ :href => "#" }
        Projects
    %li
      %a{ :href => "#" }
        About Us
    %li
      %a{ :href => "#" }
        Home
  .clear
  %p &copy; Copyright #{Date.today.strftime("%Y")} ReliefHub. All rights reserved.
