#relief_logo
  %a{ :href => "#" }
    %img{ :src => "/images/relief_logo.gif", :alt => "relief_logo" }
#social_logos
  %a{ :href => "#" }
    %img{ :src => "/images/twitter_logo.gif", :alt => "twitter_logo" }
  %a{ :href => "#" }
    %img{ :src => "/images/facebook_logo.gif", :alt => "facebook_logo" }
#navigation
  %ul
    %li
      %a{ :href => "#" }
        About Us
    %li
      %a{ :href => "#" }
        Projects
    %li
      %a{ :href => "#" }
        Community
    %li
      %a{ :href => "#" }
        Blog
    %li
      %a{ :href => "#" }
        My Account
    %li
      %a{ :href => "#" }
        Home
