@charset "UTF-8";
/* CSS Document */


body {font-family: arial, verdana, sans-serif;  margin: 0px auto;  padding: 0px;	color: #000000; text-align: center;  font-size: 42px; line-height: 140%; background-color:#CCEFFE;}
#wrapper            {margin: 0px auto;  width: 960px;  padding: 0 0 0 0;}
#relief_logo	{float:left; width:64px; height:60px; }