%h1
  New Project Form
%p
  = semantic_form_for [:admin, @project], :url => admin_organization_projects_path(@organization) do |f|
    = f.inputs do
      = f.input :name
    = f.submit 'Create Project'

