%h1 Community
%p
  ReliefHub promises to be transparent to both donors and gift recipients.
  We will continuously update this page to highlight our progress.
  We believe that it is imperative that our community sees how much funds have been raised and how the funds are used.
  Once your donation has been received, ReliefHub tracks your contribution and sends you a monthly progress report of
  how those funds have been allocated.  In addition to project updates, donors also receive thank you notes directly
  from the orphanage managers and children themselves.  Please come back soon to monitor our progress to date.
%p
  The developers at ReliefHub have created an innovative solution to the data exchange problems often faced by relief
  workers and non-profit organizations.  Our crowd-funding framework allows donors to become fully integrated within the
  contribution process; our “you-choose” structure gives donors control of both the project they wish to support and the
  financial amount they want to contribute.  Our application then tracks the status of these projects and automatically
  updates donors of the progress of those they have supported.
