%h1 Communauté
%p
  ReliefHub promet d'être transparent à la fois les donateurs et les bénéficiaires d'un don.
  Nous continuerons à mettre à jour cette page pour mettre en évidence nos progrès.
  Nous croyons qu'il est impératif que notre communauté voit combien de fonds ont été soulevées et comment les fonds sont utilisés.
  Une fois que votre don a été reçu, ReliefHub pistes de votre contribution et vous envoie un rapport mensuel de
  comment ces fonds ont été alloués. En plus de mises à jour du projet, les donateurs reçoivent également des notes de remerciement directement
  des gestionnaires de l'orphelinat et les enfants eux-mêmes. S'il vous plaît revenir bientôt pour suivre nos progrès à ce jour.
%p
  Les développeurs de ReliefHub ont créé une solution innovante aux problèmes d'échange de données est souvent victime de secours
  les travailleurs et les organisations à but non lucratif. Notre cadre foule de financement permet aux donateurs de s'intégrer pleinement au sein de la
  processus de contribution, notre "vous-choisir" structure donne le contrôle des deux bailleurs de fonds du projet qu'ils souhaitent soutenir et les
  financiers montant qu'ils veulent contribuer. Notre application pistes alors le statut de ces projets et automatiquement
  les bailleurs de fonds mises à jour de l'état d'avancement de ceux qu'ils ont pris en charge.