%h2 FAQ
%dl
  %dt How do I donate to ReliefHub?
  %dd Visit our “Projects” page to see current projects; simply type the amount you would like to contribute into the box and hit the “Fund this Project” button.  Once you hit “Submit”, you can easily create an account or log in with an existing Facebook, Twitter, or Google account to track your project’s progress, collect important receipts for tax deductions and thank you notes from orphanage managers and the children themselves.
  %dt How does a project get chosen?
  %dd Projects are submitted by an Orphanage Manager, they are reviewed for approval by a Field Administrator ensuring a need for the materials that are requested exists.  Once approved, projects are then posted to the ReliefHub’s “Projects” page for donor support.
  %dt How do I find a project that fits my budget?
  %dd Each project fits your budget, you as the donor decide how much to contribute!
  %dt What happens to my money if a project doesn’t reach 100% funding?
  %dd If the project you have chosen to donate to does not reach completion you can pick another project for your funds to be redirected to.
  %dt Are my contributions tax deductible?
  %dd Yes, of course! We will also supply you with tax deduction receipts for your convenience.
