%h2 FAQ
%dl
  %dt Comment puis-je faire un don à ReliefHub?
  %dd Consultez notre rubrique "Projets" pour voir les projets en cours; il suffit de taper le montant que vous souhaitez contribuer dans la boîte et cliquez sur le financement de ce projet "bouton. Une fois que vous cliquez sur "Soumettre", vous pouvez facilement créer un compte ou se connecter avec un compte existant Facebook, Twitter ou Google pour suivre les progrès de votre projet, la perception des recettes importantes pour les déductions fiscales et les notes de remerciement des gestionnaires de l'orphelinat et les enfants eux-mêmes.
  %dt Comment un projet choisie?
  %dd Projets sont transmis par un gestionnaire de l'orphelinat, ils sont examinés pour approbation par un administrateur sur le terrain en assurant un besoin pour les matériaux qui sont demandés existent. Une fois approuvés, les projets sont ensuite affichés sur le ReliefHub «Projets» à la page pour le soutien des donateurs.
  %dt Comment puis-je trouver un projet qui convient à mon budget?
  %dd Chaque projet correspond à votre budget, vous en tant que donateur de décider combien de contribuer!
  %dt Qu'advient-il de mon argent si le projet n'atteint pas 100% de financement?
  %dd Si le projet que vous avez choisi de faire un don à n'atteint pas la fin, vous pouvez choisir un autre projet pour vos fonds pour être redirigé vers.
  %dt Sont mes cotisations déductibles d'impôt?
  %dd Oui, bien sûr! Nous allons également vous fournir des recettes déduction fiscale pour votre commodité.
