%h1 Pourquoi ReliefHub
%p ReliefHub est unique parce qu'elle est bâtie sur les principes directeurs suivants:
%span.bold
  1. Influencé communautaire de prise de décision
%p En travailent avec notre communauté nous courrons ReliefHub similaire à Wikipedia afin que les individus puissent donner leur avis et d'influencer le processus décisionnel.
%span.bold
  2. Autonomes
%p Notre objectif est de devenir autonomes par notre 5ème anniversaire. Nous allons travailler avec notre communauté pour développer le meilleur plan pour atteindre cet objectif.
%span.bold
  3. Transparence total
%p Vous vous demandez ce qui se passe à votre dollars après avoir fait un don? Notre objectif est de rendre visible tout à fait en publiant nos budgets détaillés et des finances sur notre site Internet pour tout le monde à revoir.
%span.bold
  4. Open Source
%p Nous nous appuyons sur des technologies open source pour construire ReliefHub.org et partager l'ensemble de nos innovations, y compris les processus, la feuille de route des produits, et des logiciels afin que d'autres dans la communauté à but non lucratif peuvent bénéficier.