%h1 Why ReliefHub
%p ReliefHub is unique because it is built on the following guiding principles:
%span.bold
  1. Community Influenced Decision Making
%p Working with our community we will run ReliefHub similar to Wikipedia so individuals can give feedback and influence the decision making process.
%span.bold
  2. Self-Sustaining
%p Our goal is to become self-sustaining by our 5th birthday. We will work with our community to develop the best plan for achieving this goal.
%span.bold
  3. Total Transparency
%p Ever wonder what happens to your dollars after you make a donation?  Our goal is make it absolutely visible by publishing our detailed budgets and financials on our website for everyone to review.
%span.bold
  4. Open Source
%p We leverage open source technologies to build ReliefHub.org and will share all of our innovations including processes, product roadmap, and software so others in the non-profit community can benefit.
