#body_wrap
  #community_left
  #community_right
    #community_description
      =render :partial => 'community'
.clear
#community_bottom
  #dev_center
    =render :partial => 'dev_center'
  #financial_center
    =render :partial => 'financial_center'
.clear

