#body_wrap
  #community_left
    #community_photo
      %img{ :src => "/images/project_image.jpg", :alt => "Community Image", :width => "333px", :height => '270px' }
  #community_right
    #community_description
      =render :partial => 'community'
.clear
#community_bottom
  #dev_center
    =render :partial => 'dev_center'
  #financial_center
    =render :partial => 'financial_center'
.clear

