%h2 Project Demo
#thumbFeatures
  .feature
    %h1 Project A
    %h3 This is a sub heading for Project A
    %h4 AA A AA A A A AA AA A A A A A AA 
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
    .clear
    .amount_index
      %label Amount
      %input{ :type => "text", :name => "amount", :placeholder => "$" }
    #contribute_btn
      %a{ :href => "#" }
        %img{ :src => "/images/contribute_btn.gif", :alt => "contribute button" }
    .clear
  .feature
    %h1 Project B
    %h3 This is a sub heading for Project B
    %h4 BBB BB BB B BB  BB B BBB 
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
    .clear
    .amount_index
      %label Amount
      %input{ :type => "text", :name => "amount", :placeholder => "$" }
    #contribute_btn
      %a{ :href => "#" }
        %img{ :src => "/images/contribute_btn.gif", :alt => "contribute button" }
    .clear
  .feature
    %h1 Project C
    %h3 This is a sub heading for Project C
    %h4 CCC CC C C C C C C C C  C C C C C C C C C
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
    .clear
    .amount_index
      %label Amount
      %input{ :type => "text", :name => "amount", :placeholder => "$" }
    #contribute_btn
      %a{ :href => "#" }
        %img{ :src => "/images/contribute_btn.gif", :alt => "contribute button" }
    .clear
  .feature
    %h1 Project D
    %h3 This is a sub heading for Project D
    %h4 DDDD DD DDDD DD D DD D DDD D
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
    .clear
    .amount_index
      %label Amount
      %input{ :type => "text", :name => "amount", :placeholder => "$" }
    #contribute_btn
      %a{ :href => "#" }
        %img{ :src => "/images/contribute_btn.gif", :alt => "contribute button" }
    .clear
  
    
#thumbnails{:style => "display:none"}    
  %img{:src => "http://farm5.static.flickr.com/4065/4439060414_c11002d183_o_d.jpg", :id => "thumbnail_0"}
  %img{:src => "http://farm5.static.flickr.com/4049/4438283469_5ddf465356_o_d.jpg", :id => "thumbnail_1"}
  %img{:src => "http://farm5.static.flickr.com/4033/4439060472_02efbb3955_o_d.jpg", :id => "thumbnail_2"}
  %img{:src => "http://farm5.static.flickr.com/4041/4438283519_4f08cb4a57_o_d.jpg", :id => "thumbnail_3"}
  
- content_for :javascript do
  =javascript_include_tag 'jquery.jshowoff.min'