#body_wrap
  #process
  #featured_wrap
    - if @project
      #featured_project
      #featured_project_info
        %h1= link_to @project.name, @project
        %h3 This is a sub heading
        %h4 The tagline to the subheading
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        .percent_raised I am the percent raised
        .clear
        = semantic_form_for :donation, :url => donations_path do |f|
          .amount_index
            = f.input :amount
            = image_submit_tag("contribute_btn.gif")
      .clear
      #thumbnails
.clear
#bottom_info
  #learn_more
    %h2 Learn More
    %p ReliefHub is dedicated to working with orphanages around the world to help perpetuate their effectiveness and provide a foundation for gathering the resources they require to continue to care for millions of orphans and abandoned children.
  #relief_blog
    %h2 ReliefHub Blog
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
  #recent_press
    %h2 Recent Press
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
.clear
