#body_wrap
  #process
  - if @featured_projects.first.present?
    .featured_wrap#thumbFeatures
      = render :partial=>'featured_project', :collection=>@featured_projects
    #thumbnails{:style => "display:none"}    
      - @featured_projects.each_with_index do |featured_project,index|
        = image_tag(featured_project.photo_url(:thumb), :id => "thumbnail_#{index}") unless featured_project.photo.nil?
.clear
#bottom_info
  #learn_more
    %h2=t '.learn_more'
    %p=t '.who_we_are'
  #relief_blog
    %h2 ReliefHub Blog
    =render :partial => "relief_blog"
   
  #recent_press
    %h2=t '.recent_press'
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
.clear
- content_for :javascript do
  =javascript_include_tag 'jquery.jshowoff.min'
