#body_wrap
  #process
  - if @featured_projects.first.present?
    .featured_wrap#thumbFeatures
      = render :partial=>'featured_project', :collection=>@featured_projects
    #thumbnails{:style => "display:none"}    
      - @featured_projects.each_with_index do |featured_project,index|
        = image_tag(featured_project.photo_url(:thumb), :id => "thumbnail_#{index}") unless featured_project.photo.nil?
.clear
#bottom_info
  #learn_more
    %h2 Learn More
    %p ReliefHub is dedicated to working with orphanages around the world to help perpetuate their effectiveness and provide a foundation for gathering the resources they require to continue to care for millions of orphans and abandoned children.
  #relief_blog
    %h2 ReliefHub Blog
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
    .blog_date 9/23
    .post_index
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typeset.
    .clear
  #recent_press
    %h2 Recent Press
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
    .press_logo
    .press_copy
      %h3 Lorem Ipsum is simply dum
      %p Lorem Ipsum is simply dummy text of the printing and typesetting
    .clear
.clear
- content_for :javascript do
  =javascript_include_tag 'jquery.jshowoff.min'
