%h1.left
  Organizations

.right
  %h2.create-button= link_to "Create", new_admin_organization_path

%table
  %tr.header
    %th Created
    %th Name
    %th Address
    %th Contact Person
    %th # of Projects
  = render @organizations

