%h1.left
  Users
%table
  %tr.header
    %th Created
    %th User Name
    %th Field Operator
    %th Orphanage Manager
    %th Site Administrator
  = render @users
.pagination
  %ul=will_paginate @users
.clear
